.wrapper-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.99%;
  padding: 10px 0;
  background: #d42b1e;
  color: #fff;
  box-shadow: 0 2px 5px -2px rgb(0, 0, 0);
}

.img-inicio{
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-top: -20;
}

.acessar{
  display: inline;
  margin: 7px;
  background-color: #fff;
  border: 0;
  color: #333;
  text-decoration: none;
}

.acessar a{
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 300px) {
  .wrapper-header {
    height: 10vh;
  }
  .menu-header li {
    list-style: none;
    display: inline;
    position: relative;
    margin: 10px;
    bottom: -5px;
    font-size: 18px;

  }

  .menu-header a{
    text-decoration: none;
    color: #fff;
  }
}
