.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #d42b1e;
  color: #fff;
  box-shadow: 0 2px 5px -2px grey;
}
.menu-header li {
  display: block;
  font-size: 16px;
  margin-left: -24px;
  padding: 0px;
}
.acessar-conta {
  position: absolute;
  right: 150px;
  top: 35px;
  background-color: #fff;
  border: 0;
  color: #333;
}
@media screen and (min-width: 600px) {
  .wrapper-header {
    height: 15vh;
  }
  .menu-header li {
    list-style: none;
    display: inline;
    position: relative;
    margin: 10px;
    top: 30px;
    font-size: 18px;
  }
}
