<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <ul class="menu-header">
        <li>Para você</li>
        <li>Abra sua conta</li>
        <li>Investimentos</li>
        <li>Planos</li>
      </ul>
    </div>
    <div class="col-md-3">
      <form [formGroup]="formLogin">
        <div class="form-row align-items-center">
          <div class="col-auto my-12">
            <ul class="">
              <li type="submit" class="btn btn-primary acessar">Abra sua conta</li>
              <li type="submit" class="btn btn-primary acessar">Acessar</li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
