.wrapper-content {
position: relative;
width: 99,9%;
height: 90vh;
z-index: -9999;
}
.box-tile {
width: 40vw;
height: 100px;
position: absolute;
top: 30%;
left: 10%;
padding: 10px;
}
.wrapper-content h1 {
font-size: 60pt;
color: #fff;
text-shadow: 2px 2px #333;
font-family: 'Crete Round', serif !important;
}
.tag {
font-size: 2-pt;
color: chocolate;
font-weight: bold;
}
.bg_img{
right: 0;
bottom: 0;
min-width: 70%;
min-height: 120%;
width: auto;
height: auto;
z-index: -1000;
background: url('https://cdn.pixabay.com/photo/2021/04/24/09/54/online-shopping-6203699_960_720.jpg') no-repeat;
background-size: cover;
}

.btn-home-cadastro-clientes {
  position: absolute !important;
  top: 300px;
  right: 180px;
  padding: 20px;
  font-size: 30px;
  width: 20%;
  background: #d42b1e;
  color: #fff;
  border: 2px solid;
}
