<!DOCTYPE html>
<html lang="pt">

<body>
  <div class="main">
    <div class="container">
      <div class="signup-content">
        <div class="signup-img">
          <img src="../../../assets/Image/signup-img.jpg">
        </div>
        <div class="signup-form">
          <form class="register-form" id="register-form" (ngSubmit)="formCadastro()" [formGroup]='formCadastro'>
            <h3>Você está a um passo de criar a sua conta Malakoi Banking</h3>
            <br>
            <div class="form-row">
              <div class="form-group">
                <label for="nome">Nome :</label>
                <input type="text" name="nome" id="nome" formControlName="nome" required />
              </div>
              <div class="form-group">
                <label for="sobrenome">Sobrenome :</label>
                <input type="text" name="sobrenome" id="sobrenome" formControlName="sobrenome" required />
              </div>
            </div>
            <div class="form-group">
              <label for="cpf">CPF :</label>
              <input type="text" name="cpf" id="cpf" formControlName="cpf" required>
            </div>
            <div class="form-group">
              <label for="date">Data de Nascimento:</label>
              <input type="date" name="date" id="date" formControlName="date" required>
            </div>
            <div class="form-group">
              <label for="endereco">Endereço :</label>
              <input type="text" name="endereco" id="endereco" formControlName="endereco"  required />
            </div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" name="email" id="email" formControlName="email" required />
            </div>
            <br>
            <div class="form-submit">
              <input type="submit" value="Cadastrar" class="submit" name="submit" id="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
